@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

p {
    font-family: Montserrat;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

#progress {
    position: sticky;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: gold;

    animation: progress-bar linear forwards;

    animation-timeline: scroll();
}

@keyframes progress-bar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}


/* ------------------------ HEADER ------------------------ */

header {
    background-color: rgba(255, 255, 255, .4);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    z-index: 99;


    backdrop-filter: blur(8px);

    animation: stickyNav linear forwards;
    animation-timeline: view();
    animation-range-start: 100vh;
    animation-range-end: 200vh;
}

@keyframes stickyNav {
    100% {
        width: 98%;
        left: 1%;
        top: 1rem;
    }

}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 1rem;

}

.izq {
    flex: 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.nombre {
    font-family: Montserrat;
}

.logo {
    flex: 1;
    background-image: url(/assets/photos/esencia.png);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    height: 40px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .5));
}



.main-nav {
    flex: 6;
    
}

.menu-on-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.menu-on-nav li a {
    color: grey;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: 300;

    animation: white-to-black linear forwards;
    animation-timeline: view();
    animation-range-start: 100vh;
    animation-range-end: 200vh;

}

@keyframes white-to-black {
    100% {
        color: black;
    }
}

.nav-bar {
    display: none;
}

/* ------------------------ MAIN ------------------------ */

main {
    height: auto;
    background-color: black;
}

.hero-section {
    position: relative;
    width: 100%;

    height: 100vh;
    background-image: url(/assets/photos/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.hero-content {
    position: absolute;
    top: 25%;
    left: 10%;
}

.hero-content h1 {
    font-family: Great Vibes;
    font-size: 6rem;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.hero-content p {
    font-family: Montserrat;
    font-size: 1.5rem;
    color: black;
    text-shadow: 1px 1px 2px black;
}
/*---------------ABOUT----------------*/

.about {
    height: 100vh;
    width: 100%;

    background-image: url(/assets/photos/415.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.about-photo {
    flex: 1;
    aspect-ratio: 16/9;
    background-image: url(/assets/photos/about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    background-color: black;
}

.about-content {
    flex: 1;
    padding: 2rem;
}

/*-------------ROOMS----------*/
.title {
    font-family: Great Vibes;
    font-size: 3rem;
    padding: 3rem;
    color: white;
    text-shadow: 1px 1px 2px black
    ;


}

.dorado {
    color: gold;
}
.rooms {
    background-color: whitesmoke;
}

.tarjetas {
    
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.room1ph {
    flex: 1;
    aspect-ratio: 16/9;

    background-image: url(/assets/photos/sala1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.room {
    flex: 1;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    padding: 2rem;

}



/*-------GALLERY-----*/

.gallery {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    columns: 3 300px;
}



.gallery img {
    display: block;
    margin-bottom: 1rem;
    width: 100%;

    border-image: linear-gradient(black, rgba(0, 0, 0, 0.5)) 0;
}

/*----------------THE OWNER----------------*/

/*----------------FOOTER---------------*/

footer {
    height: 60vh;
    background-color: black;
    color: white;
    padding: 2rem;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left {
    padding: 1.5rem;
}

.center{
    background-image: url(/assets/photos/esencia.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 40%;
    height: 40%;
}

.right p {
    padding: 1.5rem;
}

